body{
	display: flex;
	margin: 0px;
	justify-content: center;
	background-image: url("../images/geometric.jpeg");
	background-size: cover;
	width: 100%;
	color: #66023c;

}

.content {
	width: 100%;
	z-index: 900;
	background-color: white;
	box-shadow: 0px 0px 40px 20px rgba(0,0,0,.3);
	/*margin-top: 2%;*/
}

ul, li, p, a{
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #B75D24;
}

a:hover{
	text-decoration: underline;
	color: #C05949;
}

header{
	text-align: center;
}

h1, h2, h3, h4{
	font-family:'Open Sans', sans-serif;
	font-weight: 700;
	color: #66023c;
}

h1{
	color: #66023c;
	margin-bottom: 5px;
	margin-top: 40px;
	font-size: 220%
	/*letter-spacing: .2rem;*/
}

header h2{
	margin-top:5px;
	margin-bottom: 5%;
	padding: 0 18%;
	line-height: 115%;
}

header h2 a{
	color: #723584;
	font-weight: 500;
	font-style: italic;
	font-size: 90%;
}

h3{
	margin-bottom: 3px;
	font-size: 1.3rem;
}

h4{
	margin-bottom: 0px;
	margin-top: 20px;
	font-style: italic;
	font-size: 1.1rem;
}

.tools{
	margin-top: 5px;
}

h3.tools{
	margin-top: 3%;
}

ul {
	margin-top:5px;
}

.tools-list {
	color: #B75D24;
}

header img{
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section{
	margin: 4% 10% 7%;

}

.one, .three {
	margin-top: 0px;
}

.examples{
	text-align: center;
	width: 100%;
}

.examples img{
	border: .4rem solid rgba(247,170,67,.3);
	display: inline;
	/*max-width: 50%;*/
}

img.icon {
	max-width: 10.25%;
}

img.menu{
	width: 78%;
	margin-right: 3%;
}

footer{
	background-color: #260126;
	color: #ae7ea6;
	text-align: center;
}

footer a{
	color: #ae7ea6;
}

footer p{
	padding: 20px;
	margin: 0px;
	font-size: .8em;
}


@media only screen and (min-width: 500px) and (max-width: 900px){
	
	.content {
		min-width: 500px;
		max-width: 80%;
	}

}

@media only screen and (min-width: 900px) and (max-width: 1200px){

	.content{
		max-width: 75%;
	}

	img.icon {
		max-width: 8%;
		margin-right: 6%;
	}

	img.menu{
		width: 60%;
		margin-right: 9%;
	}

}


@media only screen and (min-width: 1200px){
	
	.content{
		min-width: 500px;
		max-width: 60%;
	}

	img.icon {
		max-width: 8%;
		margin-right: 6%;
	}

	img.menu{
		width: 60%;
		margin-right: 9%;
	}
}


