/*----Responsive----*/

/*Medium Screen*/
@media only screen and (min-width: 650px) and (max-width: 1000px){

	header.home-page, header.about, 
	header.portfolio, header.contact{
		position: fixed;
		order:2;
		display: flex;
		flex-flow: column wrap;
		justify-content:center;
	}

	header.home-page{
		background-color: rgb(249,229,0);
	}

	body .about-bg {
		display: flex;
		flex-wrap: row wrap;
	}

	.main-content{
		order:3;
		align-content: center;
	}

	.top-nav{
		padding: 10px 0;
	}

	.top-nav ul{
		display: flex;
		justify-content: center;
	}

	.top-nav ul li, .top-nav ul li a{
		display: inline;
	}

	.top-nav ul li{
		border-top: none;
	}

	.about-greeting{
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	.about-greeting img{
		grid-column: 1/6;
		width: 75%;
		grid-row: 1/5;
	}

	.about-greeting .name{
		grid-column:4/8;
		grid-row: 2;
		align-self: end;

	}

	.about-greeting .pink-bar{
		grid-column: 4/8;
		grid-row:3;
	}

	.about-bg footer p{
		color:black;
	}

	.portfolio-bg footer{
		background-color: black;
	}

	.portfolio-content{
		padding-top: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.portfolio-content img{
		max-width:50%;
	}

	.portfolio-content div{
		overflow: hidden;
	}

	.p-content1{
		grid-column: 1;
		grid-row: 1/5;
	}
	.p-content2{
		grid-column: 1;
		grid-row: 5/9;
	}
	.p-content5{
		grid-column: 2;
		grid-row: 1/5;
	}
	.p-content6{
		grid-column: 2;
		grid-row:7/12;
	}
	.p-content3{
		grid-column: 1;
		grid-row: 9/12;
	}
	.p-content4{
		grid-column: 2;
		grid-row: 5/9;
	}

	.contact-content form{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;

	grid-template-areas: "name     email"
						 "message message" 
						  "   .      button"; 
	}

	.contact-content form .name {
		grid-area: name; 
	}
	.contact-content form .email {
		grid-area: email; 
	}
	.contact-content form .message {
		grid-area: message; 
	}
	.contact-content form .message textarea {
	    height: 10em; 
	}
	.contact-content form .button {
	    grid-area: button;
	}

	.contact-bg footer{
		background-color: rgb(29,23,86);
	}

	.contact-bg .main-content{
		padding-top: 150px;
	}

	label {
	  display: block;
	  margin-top: 1em;
	  color: #606060; }


	input,textarea {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  display: block;
	  padding: .75em;
	  width: 100%;
	  min-width: 15em;
	  background: #fbfbfc;
	  border: 1px solid #E8E9EB;
	  font-size: 1.2rem; }

	textarea {
	  resize: vertical;
	  outline: none; }

	footer{
		padding: 15px;
		display:block;
		order:4;
		text-align: center;
	}
	.portfolio-bg footer, .contact-bg footer, .about-bg footer, .home-bg footer{
		background-color: black;
		color: white;
		}

}

/*Larger Screen*/
@media only screen and (min-width: 1000px) {

	header.home-page, header.about, header.portfolio, header.contact{
		position: fixed;
		padding: 20px 0;
		order:2;
		background-color: rgb(29,23,86);
		display: flex;
		flex-flow: column wrap;
		justify-content:center;
	}

		header.home-page{
		background-color: rgb(249,229,0);
}

	.main-content{
		order:3;
	}

	.top-nav ul{
		background-color: transparent;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0 40px;
	}

	.top-nav ul li, .top-nav ul li a{
		display: inline;
	}

	.top-nav ul li{
		border-top: none;
	}

	.home-page .top-nav ul li a{
		color: rgb(29,23,86);
	}

	body .about-bg {
		display: flex;
		flex-wrap: row wrap;
	}

	.about-greeting{
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	.about-greeting img{
		grid-column: 1/6;
		width: 75%;
		grid-row: 1/5;
	}

	.about-greeting .name{
		grid-column:4/8;
		grid-row: 2;
		align-self: end;
		font-size: 3rem;
	}

	.about-greeting .pink-bar{
		grid-column: 4/9;
		grid-row:3;
		align-self: start;
		background-color: transparent;
		color:black;
		padding: 0;
		text-align: left;
		font-size: 2rem;
		font-style: italic;
		font-family: "futura-pt",sans-serif;
		font-weight: 300; 
	}

	.portfolio-content{
		padding-top: 80px;
		/*border: 2px solid red;*/
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1rem;
	}
	.portfolio-content img{
		width:45%;
	}
	.p-content1, .pic-button1{
		grid-column: 1;
		grid-row: 1/5;
	}
	.p-content2{
		grid-column: 1;
		grid-row: 5/9;
	}
	.p-content5{
		grid-column: 2;
		grid-row: 1/3;
	}
	.p-content6{
		grid-column: 2;
		grid-row:5/7;
	}
	.p-content3{
		grid-column: 3;
		grid-row: 1/4;
	}
	.p-content4{
		grid-column: 3;
		grid-row: 5/9;
	}

	.pic-button-1 button{
		background-color: red;
	}

	.contact-content form{
	    display: grid;
	    grid-template-columns: 50% 50%;
	    grid-column-gap: 1em;

	    grid-template-areas: "name     email" "message message" "   .      button"; 
	}

	.contact-content form .name {
		grid-area: name; 
	}
	.contact-content form .email {
		grid-area: email; 
	}
	.contact-content form .message {
		grid-area: message; 
	}
	.contact-content form .message textarea {
	    height: 10em; 
	}
	.contact-content form .button {
	    grid-area: button;
	}

	label {
	  display: block;
	  margin-top: 1em;
	  color: #606060; }


	input,textarea {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  display: block;
	  padding: .75em;
	  width: 100%;
	  min-width: 15em;
	  background: #fbfbfc;
	  border: 1px solid #E8E9EB;
	  font-size: 1.2rem; }

	textarea {
	  resize: vertical;
	  outline: none; }


	footer{
		padding: 15px;
		display:block;
		order:4;
		text-align: center;
	}

	.portfolio-bg footer, .contact-bg footer, .about-bg footer, .home-bg footer{
	background-color: black;
	color: white;
	}

}