/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
	overflow: scroll;
}

a{text-decoration: none;}

body, h1, h2, h3, nav, main, header, ul, li, p {
	padding: 0; margin: 0;
}

body{
	display: flex;	
	flex-direction: column;
}

h1, h2, h3, nav, form, input{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
}

h1, h3, p{
	color: rgb(255,255,255);
}

h1 {
	font-weight: 800;
	font-size: 4rem;
}

h2{
	color: rgb(0,0,0);
	font-weight: 500;
	font-size:1.9rem;
}

h3{
	font-weight: 300;
	font-size:1.1rem;
}

p {
	font-family:'Roboto Mono', monospace;
	font-size: .9rem;
	line-height: 1.1rem;
}

header{
	font-weight: 500;
	box-shadow: 0px 18px 26px 1px rgba(0,0,0,.5);
    width: 100%;
}

.main-content{
	padding: 150px 20px 0 20px;
	align-self: center;
}

#greeting-banner-text{
	color: rgb(255,255,255);
	padding-bottom: 15px;
	letter-spacing: .5rem;
	text-transform: uppercase;
	text-shadow: rgb(228,27,124) -1px 1px,
    rgb(228,27,124) -2px 2px,
    rgb(228,27,124) -3px 3px,
    rgb(228,28,125) -4px 4px,
    rgb(228,29,126) -5px 5px,
    rgb(228,30,127) -6px 6px,
    rgb(228,31,128) -7px 7px,
    rgb(228,32,129) -8px 8px;
}


/*this is where i started putting stuff here before mobile*/

.about-bg .main-content{
	padding-top: 100px;
}

.about-greeting{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.about-greeting img{
	width: 40%;
	border-radius: 50%;
	padding-top: 15px;
}

.about-greeting h3{
	background-color: rgb(228,27,124);
	/*display: block;*/
	padding: 15px 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.about-content p{
	color: rgb(0,0,0);
	margin: 10px 20px 20px 20px;
}


/*portfolio stuff*/

.portfolio-btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgb(228,27,124);
}

.portfolio-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.portfolio-content img{
	width:100%;
}
.p-content1{
	grid-column: 1;
	grid-row: 1/4;
}
.p-content2{
	grid-column: 1;
	grid-row: 4/8;
}
.p-content3{
	grid-column: 1;
	grid-row: 8/10;
}
.p-content4{
	grid-column: 2;
	grid-row:1/2;
}
.p-content5{
	grid-column: 2;
	grid-row: 2/5;
}
.p-content6{
	grid-column: 2;
	grid-row: 5/10;
}

.portfolio-bg .main-content{
	padding: 20px;
}

.contact-bg{
	background-image: url("../images/design_accents/cats.jpg");
	background-size: 200%;
}

.contact-bg .main-content{
	padding-top: 125px;
}

.contact-bg h1{
	font-size: 3.3rem;
}

.contact-greeting h1{
	background-color: rgba(255, 255, 255, .85);
	border: 4px solid white;
	color: purple;
}

.contact-content form{
	align-self: stretch;
    display: grid;
    grid-column-gap: 1em;

    grid-template-areas: "name"
    					 "email" 
    					 "message" 
    					 "button"; 
}

.contact-content form .name {
	grid-area: name; 
}
.contact-content form .email {
	grid-area: email; 
}
.contact-content form .message {
	grid-area: message; 
}
.contact-content form .message textarea {
    height: 8em; 
}
.contact-content form .button {
    grid-area: button;
}

label {
  display: inline-block;
  margin-top: 1em;
  color: #606060;
  background-color: white
   }

input,textarea {
  box-sizing: border-box;
  display: block;
  padding: .75rem;
  width: 100%;
  background: rgb(251, 251, 252);
  border: 1px solid white;
  font-size: 1.2rem; }

textarea {
  resize: vertical;
  outline: none; }


/*----Mobile----*/


.home-bg{
	background-color: rgb(29,23,86);
}

.about-bg{
	background-color: rgb(249,229,0);
}

header.home-page, header.about, header.portfolio, header.contact{
	flex:1;
	order:2;
}

header.home-page{
	background-color: rgb(249,229,0);
}

header.about, .portfolio, .contact{
	background-color: rgb(29,23,86);
}

.top-nav ul{
	display: block;
	list-style-type: none;
}

.top-nav ul li{
	border-top: 3px solid rgb(195,73,155);
	padding: 10px;
	text-align: center;
}

.top-nav ul li a{
	color: white;
	display: block;
}

.home-page .top-nav ul li a{
	color: rgb(29,23,86);
	display: block;
}

.main-content{
	flex: 5;
	order: 1;
}

footer{
	display: none;
}

/*----Responsive----*/

/*Medium Screen*/
@media only screen and (min-width: 650px) and (max-width: 1000px){

	header.home-page, header.about, 
	header.portfolio, header.contact{
		position: fixed;
		order:2;
		display: flex;
		flex-flow: column wrap;
		justify-content:center;
	}

	header.home-page{
		background-color: rgb(249,229,0);
	}

	body .about-bg {
		display: flex;
		flex-wrap: row wrap;
	}

	.main-content{
		order:3;
		align-content: center;
	}

	.top-nav{
		padding: 10px 0;
	}

	.top-nav ul{
		display: flex;
		justify-content: center;
	}

	.top-nav ul li, .top-nav ul li a{
		display: inline;
	}

	.top-nav ul li{
		border-top: none;
	}

	.about-greeting{
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	.about-greeting img{
		grid-column: 1/6;
		width: 75%;
		grid-row: 1/5;
	}

	.about-greeting .name{
		grid-column:4/8;
		grid-row: 2;
		align-self: end;

	}

	.about-greeting .pink-bar{
		grid-column: 4/8;
		grid-row:3;
	}

	.about-bg footer p{
		color:black;
	}

	.portfolio-bg footer{
		background-color: black;
	}

	.portfolio-content{
		padding-top: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.portfolio-content img{
		max-width:50%;
	}

	.portfolio-content div{
		overflow: hidden;
	}

	.p-content1{
		grid-column: 1;
		grid-row: 1/5;
	}
	.p-content2{
		grid-column: 1;
		grid-row: 5/9;
	}
	.p-content5{
		grid-column: 2;
		grid-row: 1/5;
	}
	.p-content6{
		grid-column: 2;
		grid-row:7/12;
	}
	.p-content3{
		grid-column: 1;
		grid-row: 9/12;
	}
	.p-content4{
		grid-column: 2;
		grid-row: 5/9;
	}

	.contact-content form{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;

	grid-template-areas: "name     email"
						 "message message" 
						  "   .      button"; 
	}

	.contact-content form .name {
		grid-area: name; 
	}
	.contact-content form .email {
		grid-area: email; 
	}
	.contact-content form .message {
		grid-area: message; 
	}
	.contact-content form .message textarea {
	    height: 10em; 
	}
	.contact-content form .button {
	    grid-area: button;
	}

	.contact-bg footer{
		background-color: rgb(29,23,86);
	}

	.contact-bg .main-content{
		padding-top: 150px;
	}

	label {
	  display: block;
	  margin-top: 1em;
	  color: #606060; }


	input,textarea {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  display: block;
	  padding: .75em;
	  width: 100%;
	  min-width: 15em;
	  background: #fbfbfc;
	  border: 1px solid #E8E9EB;
	  font-size: 1.2rem; }

	textarea {
	  resize: vertical;
	  outline: none; }

	footer{
		padding: 15px;
		display:block;
		order:4;
		text-align: center;
	}
	.portfolio-bg footer, .contact-bg footer, .about-bg footer, .home-bg footer{
		background-color: black;
		color: white;
		}

}

/*Larger Screen*/
@media only screen and (min-width: 1000px) {

	header.home-page, header.about, header.portfolio, header.contact{
		position: fixed;
		padding: 20px 0;
		order:2;
		background-color: rgb(29,23,86);
		display: flex;
		flex-flow: column wrap;
		justify-content:center;
	}

		header.home-page{
		background-color: rgb(249,229,0);
}

	.main-content{
		order:3;
	}

	.top-nav ul{
		background-color: transparent;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0 40px;
	}

	.top-nav ul li, .top-nav ul li a{
		display: inline;
	}

	.top-nav ul li{
		border-top: none;
	}

	.home-page .top-nav ul li a{
		color: rgb(29,23,86);
	}

	body .about-bg {
		display: flex;
		flex-wrap: row wrap;
	}

	.about-greeting{
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	.about-greeting img{
		grid-column: 1/6;
		width: 75%;
		grid-row: 1/5;
	}

	.about-greeting .name{
		grid-column:4/8;
		grid-row: 2;
		align-self: end;
		font-size: 3rem;
	}

	.about-greeting .pink-bar{
		grid-column: 4/9;
		grid-row:3;
		align-self: start;
		background-color: transparent;
		color:black;
		padding: 0;
		text-align: left;
		font-size: 2rem;
		font-style: italic;
		font-family: "futura-pt",sans-serif;
		font-weight: 300; 
	}

	.portfolio-content{
		padding-top: 80px;
		/*border: 2px solid red;*/
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1rem;
	}
	.portfolio-content img{
		width:45%;
	}
	.p-content1, .pic-button1{
		grid-column: 1;
		grid-row: 1/5;
	}
	.p-content2{
		grid-column: 1;
		grid-row: 5/9;
	}
	.p-content5{
		grid-column: 2;
		grid-row: 1/3;
	}
	.p-content6{
		grid-column: 2;
		grid-row:5/7;
	}
	.p-content3{
		grid-column: 3;
		grid-row: 1/4;
	}
	.p-content4{
		grid-column: 3;
		grid-row: 5/9;
	}

	.pic-button-1 button{
		background-color: red;
	}

	.contact-content form{
	    display: grid;
	    grid-template-columns: 50% 50%;
	    grid-column-gap: 1em;

	    grid-template-areas: "name     email" 
	    						"message message" 
	    						"   .      button"; 
	}

	.contact-content form .name {
		grid-area: name; 
	}
	.contact-content form .email {
		grid-area: email; 
	}
	.contact-content form .message {
		grid-area: message; 
	}
	.contact-content form .message textarea {
	    height: 10em; 
	}
	.contact-content form .button {
	    grid-area: button;
	}

	label {
	  display: block;
	  margin-top: 1em;
	  color: #606060; }


	input,textarea {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  display: block;
	  padding: .75em;
	  width: 100%;
	  min-width: 15em;
	  background: #fbfbfc;
	  border: 1px solid #E8E9EB;
	  font-size: 1.2rem; }

	textarea {
	  resize: vertical;
	  outline: none; }


	footer{
		padding: 15px;
		display:block;
		order:4;
		text-align: center;
	}

	.portfolio-bg footer, .contact-bg footer, .about-bg footer, .home-bg footer{
	background-color: black;
	color: white;
	}

}



