img {
  border: 5px solid black;
  margin: 50px;
  padding: 20px;
  width: 20em;
}

img.hover:hover {
  border-radius: 230px;
}

.bar {
  background-color: lightgray;
  height: 70px;
  padding: 10px;
}

.bar .square{
  height: 40px;
  width: 40px;
  background-color: blue;  
  margin-top: 15px;
  animation-name: box;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes box {
  0% {
    border: 4px solid lightblue;
    margin-left: 2000px;
  }
  
  100% {
    border: 4px solid lightblue;
  }

  }